<div class="user-card" style="left: 192.088px; top: 911.744px;">
  <div class="bg" style="background-image:url(//i2.hdslb.com/bfs/space/768cc4fd97618cf589d23c2711a1d1a729f42235.png@750w_240h.webp);background-image: url()"></div><a target="_blank" class="face"><img src="https://greasyfork.org/packs/media/images/blacklogo96-b2384000fca45aa17e45eb417cbcbb59.png"></a>
  <div class="info">
    <p class="user"><a target="_blank" class="name vip-red-name">B站共同关注快速查看</a><i class="sex men"></i><a target="_blank"><i class="level l9"></i></a></p>
    <p class="social"><a target="_blank">关注: <span class="like">100</span></a><a target="_blank">粉丝: <span class="fans">1000万</span></a></p>
    <p class="sign">快速查看与特定用户的共同关注（视频播放页、动态页、用户空间、直播间）</p>
    <div class="gm428453 card-same-followings"><div class="gm-relation">对方与你互粉并特别关注了你</div><div class="gm-pre">共同关注</div><div><a class="same-following">EdmundDZhang</a><span>，&nbsp;</span><a class="same-following gm-special">怕上火暴王老菊</a><span>，&nbsp;</span><a class="same-following">陈哥1</a></div></div>
  </div>
  <div class="btn-box"><a class="like " mid="" uname="B站共同关注快速查看"><span class="default-text">+关注</span><span class="hover-text">取消关注</span></a><a target="_blank" class="message">发消息</a></div>
</div>